<!-- Views/Home/Index.cshtml -->
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Minha Lista de Tarefas</h1>
    <p>Clique <a asp-controller="Tarefas" asp-action="Index">aqui</a> para acessar suas tarefas.</p>
</div>